$titlebar-height: 36px;

@media (prefers-color-scheme: dark) {
  .container {
    background: #1e1e1e;
    color: #ffffff;

    .titlebar {
      background-color: #3c3d3d;

      &.blur {
        background-color: #323233;
      }

      .top-container {
        color: #cacaca;
        &.blur {
          color: #8e8e8e;
        }
      }

      .title-container {
        color: #cacaca;
        &.blur {
          color: #8e8e8e;
        }
      }

      .controls {
        .button-container {
          path {
            fill: #cacaca;
          }
          rect {
            stroke: #cacaca;
          }

          &.blur {
            path {
              fill: #8e8e8e;
            }
            rect {
              stroke: #8e8e8e;
            }
          }

          &.close {
            path {
              stroke: #cacaca;
            }

            &.blur {
              path {
                stroke: #8e8e8e;
              }
            }
          }

          &:hover {
            background-color: #505050;
          }
        }
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  .container {
    background: #ffffff;
    color: #1e1e1e;

    .titlebar {
      background-color: #ffffff;

      .top-container {
        color: black;
        font-size: 12px;
        &.blur {
          color: #999999;
        }
      }

      .title-container {
        color: black;
        font-size: 12px;
        &.blur {
          color: #999999;
        }
      }

      .controls {
        .button-container {
          path {
            fill: black;
          }
          rect {
            stroke: black;
          }

          &.blur {
            path {
              fill: #999999;
            }
            rect {
              stroke: #999999;
            }
          }

          &.close {
            path {
              stroke: black;
            }

            &.blur {
              path {
                stroke: #999999;
              }
            }
          }

          &:hover {
            background-color: #e6e6e6;
          }
        }
      }
    }
  }
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

.container {
  height: 100%;

  .titlebar {
    top: 0;
    left: 0;
    height: $titlebar-height;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-app-region: drag;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    .top-container {
      overflow: hidden;
      white-space: nowrap;
      position: absolute;
      top: 0;
      left: 8px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .title-container {
      overflow: hidden;
      white-space: nowrap;
      width: 340px;
      text-overflow: ellipsis;
      text-align: center;
      font-family: sans-serif;
      font-size: 12px;
      user-select: none;
    }

    .controls {
      -webkit-app-region: no-drag;
      position: absolute;
      top: 0;
      right: 0;
      height: 36px;
      display: flex;
      flex-direction: row;

      .button-container {
        width: 46px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &.close {
          &:hover {
            background-color: #e81123;
            path {
              stroke: white;
            }
          }
        }
      }
    }
  }

  .content {
    height: calc(100% - #{$titlebar-height});
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content-darwin {
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-app-region: drag;
  }
}
